.page {
	box-sizing: border-box;
	font-family: "Comfortaa", sans-serif;
	margin: 0;
	font-size: 20px;

	@media screen and (max-width: 767.98px) {
		font-size: 18px;
	}
}

.link {
	color: Green;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: DarkGreen;
	}
}

.link-img {
	text-decoration: none;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.logo {
	height: 50px;
	width: 50px;
}

.search-form__input {
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: green;
}

.button {
	background-color: Green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;

	&:hover {
		background-color: DarkGreen;
	}
}

.tel-icon {
	height: 50px;
	width: 50px;
}

.text_more-height {
	line-height: 1.2;
}
.picture {
	border: 1px solid green;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}

.wrapper {
	width: 800px;

	@media screen and (max-width: 801.98px) {
		width: 700px;
	}

	@media screen and (max-width: 767.98px) {
		width: 570px;
	}

	@media screen and (max-width: 575.98px) {
		width: 95%;
	}
}