header {
	padding-top: 20px;
	background: #DAD871;
	display: flex;
	justify-content: center;

	.header__up {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 575.98px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.header__form {
			@media screen and (max-width: 575.98px) {
				order: 2;
				padding: 20px 80px 0 80px;
			}

			@media screen and (max-width: 475.98px) {
				padding: 0 30px;
			}

			.header__search {
				@media screen and (max-width: 575.98px) {
					width: 200px;
				}
			}

			.header__button {
				padding: 10px 20px;

				@media screen and (max-width: 575.98px) {
					padding: 10px;
				}
			}
		}


		.header__tel-icon {
			display: none;
			@media screen and (max-width: 767.98px) {
				display: block;
			}
		}

		.header__tel-numb {
			@media screen and (max-width: 767.98px) {
				display: none;
			}
		}
	}

	.header__down {
		padding: 20px 0;

		.header__menu-list{
			display: flex;
			flex-direction: row;
			justify-content: space-between
		}
	}
}

















