.page {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  font-size: 20px;
}
@media screen and (max-width: 767.98px) {
  .page {
    font-size: 18px;
  }
}

.link {
  color: Green;
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: DarkGreen;
}

.link-img {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  height: 50px;
  width: 50px;
}

.search-form__input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: green;
}

.button {
  background-color: Green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.button:hover {
  background-color: DarkGreen;
}

.tel-icon {
  height: 50px;
  width: 50px;
}

.text_more-height {
  line-height: 1.2;
}

.picture {
  border: 1px solid green;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.picture:hover {
  transform: scale(1.05);
}

.wrapper {
  width: 800px;
}
@media screen and (max-width: 801.98px) {
  .wrapper {
    width: 700px;
  }
}
@media screen and (max-width: 767.98px) {
  .wrapper {
    width: 570px;
  }
}
@media screen and (max-width: 575.98px) {
  .wrapper {
    width: 95%;
  }
}

header {
  padding-top: 20px;
  background: #DAD871;
  display: flex;
  justify-content: center;
}
header .header__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 575.98px) {
  header .header__up {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 575.98px) {
  header .header__up .header__form {
    order: 2;
    padding: 20px 80px 0 80px;
  }
}
@media screen and (max-width: 475.98px) {
  header .header__up .header__form {
    padding: 0 30px;
  }
}
@media screen and (max-width: 575.98px) {
  header .header__up .header__form .header__search {
    width: 200px;
  }
}
header .header__up .header__form .header__button {
  padding: 10px 20px;
}
@media screen and (max-width: 575.98px) {
  header .header__up .header__form .header__button {
    padding: 10px;
  }
}
header .header__up .header__tel-icon {
  display: none;
}
@media screen and (max-width: 767.98px) {
  header .header__up .header__tel-icon {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  header .header__up .header__tel-numb {
    display: none;
  }
}
header .header__down {
  padding: 20px 0;
}
header .header__down .header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  padding: 20px 0px;
  background: #FBCEB1;
  display: flex;
  justify-content: center;
}
main .promo {
  position: relative;
  padding-bottom: 20px;
}
main .promo::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: Green;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .promo .promo_size-picture {
  width: 400px;
}
@media screen and (max-width: 801.98px) {
  main .promo .promo_size-picture {
    width: 350px;
  }
}
@media screen and (max-width: 767.98px) {
  main .promo .promo_size-picture {
    width: 300px;
  }
}
main .promo .promo__picture {
  max-width: 400px;
}
@media screen and (max-width: 801.98px) {
  main .promo .promo__picture {
    max-width: 330px;
  }
}
@media screen and (max-width: 767.98px) {
  main .promo .promo__picture {
    max-width: 270px;
  }
}
main .main__promo-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 575.98px) {
  main .main__promo-desktop {
    display: none;
  }
}
main .main__promo-desktop .promo__left {
  flex-wrap: wrap;
  width: 500px;
}
@media screen and (max-width: 801.98px) {
  main .main__promo-desktop .promo__left {
    width: 350px;
  }
}
@media screen and (max-width: 767.98px) {
  main .main__promo-desktop .promo__left {
    width: 270px;
  }
}
main .main__promo-desktop .promo_location-right {
  text-align: right;
}
main .main__promo-mobile {
  display: none;
}
@media screen and (max-width: 575.98px) {
  main .main__promo-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
main .info {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 575.98px) {
  main .info {
    flex-direction: column;
    justify-content: center;
  }
}
main .info .info__category {
  width: 200px;
}
@media screen and (max-width: 767.98px) {
  main .info .info__category {
    width: 150px;
  }
}
@media screen and (max-width: 575.98px) {
  main .info .info__category {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 575.98px) {
  main .info .info__category .info__list {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
main .info .info__news {
  width: 600px;
}
@media screen and (max-width: 801.98px) {
  main .info .info__news {
    width: 500px;
  }
}
@media screen and (max-width: 767.98px) {
  main .info .info__news {
    width: 390px;
  }
}
@media screen and (max-width: 575.98px) {
  main .info .info__news {
    width: 95%;
  }
}
main .info .info__news .info__title {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .info .info__news .info__title .info_size-picture {
  height: 50px;
  width: 100px;
}
main .info .info__news .info__title .info_location-picture {
  text-align: right;
}
main .info .info__news .info__title .info__picture {
  max-height: 50px;
}

footer {
  background: #DAD871;
  display: flex;
  justify-content: center;
}
footer .footer__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  footer .footer__wrapper {
    flex-direction: column;
  }
}
footer .footer__wrapper .footer__first {
  width: 250px;
}
@media screen and (max-width: 767.98px) {
  footer .footer__wrapper .footer__first {
    text-align: center;
  }
}
footer .footer__wrapper .footer__second {
  width: calc(100% - 250px);
}
@media screen and (max-width: 767.98px) {
  footer .footer__wrapper .footer__second {
    width: 100%;
  }
}
footer .footer__wrapper .footer__second .footer__text {
  text-align: right;
}
@media screen and (max-width: 767.98px) {
  footer .footer__wrapper .footer__second .footer__text {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
